.colofiltersfield {
  position: relative;
}

.colofiltersfield.field--type-image img {
  float: left;
  margin: 0;
}

.colofiltersfield .field__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  color: white;
}
